@tailwind base;
@tailwind components;
@tailwind utilities;


.bbb{
    background-image: url('./images/snow.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.some{
    backdrop-filter: blur(20px);
    background-color: rgb(255 255 255 / 30%);
}

.bch{
    backdrop-filter: blur(20px);
    background-color: rgb(255 255 255 / 20%);
}